__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env
.env.*

build/
dist/
.eggs/
.coverage*
htmlcov/
.pytest_cache/

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

node_modules/
*.log

*.csv.zip
*.tmp
*.cache/
!/weather_prediction_dataset.csv
!/weather_prediction_bbq_labels.csv
